#GuestLayout {
  @apply bg-black text-white;
}
#GuestLayout {
  header {
    @apply bg-black;
  }

  #section-about {
    @apply bg-black;
  }

  #section-header {
    @apply bg-black;
  }

  #section-service {
    @apply bg-black py-14;
  }
  .container {
    @apply w-[100%] px-[15px] mx-auto sm:max-w-[580px] md:max-w-[740px] lg:max-w-[1180px] xl:max-w-[1230px];
  }

  .navigation-mobile {
    @apply hidden p-5 lg:hidden bg-black text-white;
  }

  .navigation-mobile.active {
    @apply block lg:hidden;
  }

  header {
    @apply p-0 pt-[6%] pb-[2rem] bg-no-repeat bg-cover relative;
  }

  #section-about {
    @apply bg-cover py-14;
  }

  #section-service {
    @apply bg-black py-14;
  }

  #section-gallery {
    background-color: var(--color-primary);
  }

  #section-testimoni {
    @apply py-14;
    justify-content: "center";
    text-align: center;
  }

  #section-contact {
    @apply py-14;
    justify-content: "center";
    text-align: center;
  }

  #section-information {
    @apply py-14;
    background-color: var(--color-primary);
  }
}
