@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /**
   *
   *
   *
   * VARIABLE
   */
  --color-primary: rgb(207, 54, 133);
  --color-secondary: rgb(203, 126, 45);
  --color-accent: rgb(83, 190, 189);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(25, 25, 25);
  --color-text-dark: rgb(50, 50, 50);
}


@tailwind base;
@tailwind components;

@tailwind utilities;

body * {
  @apply text-base;
  font-family: "Noto Sans", sans-serif;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}